// Override default variables before the import
// you can open the bootstrap.scss module and check any available variables.
$primary: #2b459b;
$secondary: #79818f;
$success: #06a14f;
$info: #00b185;
$warning: #da6200;
$danger: #d62518;
$light: #faf5f2;
$dark: #0e273d;

//custom color to be mapped
$accent : #da6d25;

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  // add any additional color below
  accent: $accent,
  // now bg-accent,btn-accent,etc.. can be called
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';