:root {
    /* --active: #2a7bc6; */
    --active: #dcecf3;
    --light-blue: #CAE9EA;
    --blue: #0053a0; /* #004789 */
    --dark: #262225;
    --text: #121724;
    --body: #feffff;
    --orange: #FF8080;
    --light: #fbfbff;
    --sidebar-selected: #dffbf0;
    --sidebar-selected-copy: #163652;
    --sidebar-icon-text: #082915;
    --border-color: #d7d7d7;
    --rounded-border-radius: 0.75rem;
}

html {
    zoom: 85%;
    height: 100%;
    overflow-x: auto;
}

body {
    height: 100%;
    font-family: Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue" !important;
    font-display: auto !important;
    font-style: normal !important;
    color: var(--text);
    margin:0;
    padding:0;
}

table tr td, table tr th{
    background: none !important;
}

#sidebar {
    border-bottom-right-radius: 0.5rem !important;
}

.container-fluid {
    justify-content: center;
}

.container {
    max-width: 3840px;
}

a {
    color: #007bff;
}


div.alert > a {
    color: #FFFFFF !important;
}


p {
    margin-bottom: 0rem !important;
}


.rounded {
    border-radius: var(rounded-border-radius) !important;
}


.rounded-3 {
    border-radius: 1rem !important;
}


.rounded-4 {
    border-radius: 1.5rem !important;
}



.bg-blue {
    background-color: var(--blue) !important;
}


.bg-active {
    background-color: var(--active) !important;
}

.nav-link {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    color: var(--sidebar-icon-text) !important;
}

#change_list_table {
    min-width: "1000px";
}


.bg-selected {
    background-color: var(--sidebar-selected) !important;
}

a.sidebar-item:hover {
    background-color: var(--sidebar-selected) !important;
}

.nav-link.active {
    color: var(--text) !important;
    background-color: transparent !important;
    border-bottom: 1rem solid !important;
    /* border-color: var(--active) !important; */
    border-bottom-width: 5px !important;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, .16), 0 1px 3px rgba(0, 0, 0, .23) !important; */
    border-radius: 0.1rem !important;
    border-color: var(--blue) !important;
}

.fade-in {
    animation: fade-in 1.25s;
}

.fade-in-long {
    animation: fade-in 3s;
}
  
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

.modal-fullscreen {
    width: 100%;
}

.form-switch .form-check-input {width: 3em; height: 1.5em;}